body{
    background: url(../images/background.jpg) center no-repeat;
    height: 100%;
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    margin-left: 28rem;
}

.header{
    color: yellow;
}

.howTo {
    color: lightblue;
}

.howTo li {
    text-align: left;
}

.userTot{
    color: orange;
}

.winsloss{
    color: white;
}

.gb{
    margin-left: 2em
}